<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../../template/skydash/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../../template/skydash/vendors/feather/feather.css">
    <link rel="stylesheet" href="../../../template/skydash/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../../template/skydash/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../../template/skydash/css/vertical-layout-light/style.css">
    <link rel="stylesheet" href="../../../stylesheets/customSkydash.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../../images/assets/icon_medayuagung.svg">
</head>